bot:
    server:      irc.example.com
    port:        6667
    nick:        funkbot
    channels:    ['#funkbot']
    verbose:     true
    ssl:         false
    ssl_verify:  true
    db_host:     127.0.0.1
    db_user:     funkbot
    db_pass:     password
    db_database: funkbot

log:
    dir: logs

twitter:
    consumer_key:    foo
    consumer_secret: bar
    access_token:    woo
    access_secret:   yay
