bot:
    server:     irc.example.com
    port:       6667
    nick:       funkbot
    channels:   ['#funkbot']
    verbose:    true
    ssl:        false
    ssl_verify: true
    db_host:     10.64.161.83
    db_user:     funkbot
    db_pass:     password
    db_database: funkbot

log:
    dir: logs
